<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PrintAssitant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PrintAssitant.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>cjUsPIY8zTIvGwQvOiRKUOV57by8rf3NqpL0eK8XZZQlkYAb9Iw8PqfouUZoqYcmDIpzDeAUfiI6p66ywXttZHlidGKYtAZKyCh7NtGR/vCXMg1WuSD/tXlGKnOMk7y5sC4BveMzfG+ns9yIcvHsB2DvMAnJ09JSr7oDgLdOSSXg32/3/oQiWBWeXWz+Y6MDeZSCW8whLY0xfg3loEvja8WDvGgo0CPEchtwRM36IG+RZlfdqKmsHIXGEDPjwE0bZ1QXsz8sF4kPOANdnHHSDWYPRibuoPjywsnJtSql1d5SgdXmSV1HOT/nSXwF+fP6a38z0J8wmgM3Oou+z2+pRUlmjDtOCaExa1M0OviaHuaHLqqXAH0fhQ==</value>
            </setting>
        </PrintAssitant.My.MySettings>
    </userSettings>
</configuration>
